.navbar-inner {
    border-radius: 0px;
}
.index {
    margin: 5% auto;
    form {
        text-align: center;
        input {
            color: #000;
            font-size: 45px;
            height: 60px;
            width: 400px;
        }
    }
}