<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.form.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery-ui-1.8.17.custom.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lib/mustache.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lib/spin.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-twipsy.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-popover.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-modal.js') }}" charset="utf-8"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<!--link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'-->