{% extends 'base.html' %}
{% block title %}Welcome's Thee{% endblock %}
{% block content %}

<div class="container">
	<header class="jumbotron subhead" id="overview">
		<h1 class="pull-left">Pypins Logo</h1>
        <h1 class="pull-right">
            {% if g.user %}
                {{ g.user.name }}
                <img src="http://api.twitter.com/1/users/profile_image?screen_name={{ g.user.name }}&size=normal" />
                <a href="{{ url_for('logout') }}">(logout)</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
	</header>
</div>
<div class="container index">
	<form class="search" action="">
		<input type="text" class="search-query" placeholder="Search">
	</form>
</div>
{% endblock %}